<%= form_for @wiki do |f| %>
  <%= f.error_messages %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <% if current_user.premium %>
    <div class="checkbox">
      <%= f.label :premium do %>
        <%= f.check_box :premium %> Private JuJu
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Create", class: 'btn' %>
    </div>
  </div>

<% end %>